html,body{
    background: black;
    margin:0;
    height: 100%;
    font-family: 'Press Start 2P';
}

.gameboard{
    display: grid;
    height : 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "field field score"
    "field field score"
    "input input score";
}

.field{
    grid-area: field;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "counter"
    "round";
    align-items: center;
    border: solid  rgba(4, 4, 165, 0.822);
    border-radius: 1rem;
    border-width: 0.6rem;
    margin: 1rem;
    padding: 2rem;
    color: cornsilk;
}
.round-counter{
    grid-area: counter;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

.round-container{
    display: flex;
    grid-area: round;
    border: solid goldenrod;
    border-radius: 1rem;
    border-width: 0.6rem;
    margin: 1rem;
    height: 90%;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}

.round-control{
    display: flexbox;
    width: 14rem;
    height: 14rem;
    border: solid  rgba(247, 1, 206, 0.699);
    border-radius: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: cornsilk;
    text-align: center;
    font-size: 0.9rem;
}

.scoreboard{
    grid-area: score;
    border: solid rgba(4, 4, 165, 0.822);
    border-radius: 1rem;
    border-width: 0.6rem;  
    margin: 1rem;
    padding: 2rem;
    color: cornsilk;
}

.controls{
    grid-area: input;
    border: solid rgba(4, 4, 165, 0.822);
    border-radius: 1rem;
    border-width: 0.6rem;
    margin: 1rem;
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
}
.control{
    display: flexbox;
    width: 8rem;
    height: 8rem;
    border: solid cornsilk;
    border-radius: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: cornsilk;
    text-align: center;
    font-size: 0.9rem;
    transition: all 0.07s ease;
}
.selected{
    scale: 1.2;
    border: solid goldenrod;
}
.control-img{
    height:5rem;
    width: 5rem;
}
.move-img{
    height:10rem;
    width: 10rem;
}

.scoreHeader{
    color: rgba(247, 1, 206, 0.699);;
    font-size: 1.1rem;
}
.versus{
    margin: 3rem;
    font-size: 3rem;
    color: red;
}